body {
	background-color: rgb(179, 48, 0);
	background: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
	/*خاص باللوجو*/
	.allpage .logo {
		float: left;
		margin-left: 30px;
	}

		.allpage .logo h1 {
			color: white;
			font-size: 50px;
			/*margin-top:-4px;*/
			text-transform: uppercase;
		}
	/*end of logo*/

	/*خاص بال الحواى div menu bar الكبيرة*/
	.allpage .menubar {
		float: right;
		background-color: rgba(0, 230, 230,0.6);
		height: 755px;
		width: 300px;
		margin-top: -10px;
		margin-right: -7px;
	}
/*end*/

 .hello{
	float:right;
	margin-top:10px;
	margin-right:20px;
}

/* محتوايات الmenu bar كا كل*/
/* خاص بال list*/
.items ul {
	list-style-type: none;
	margin-left: -30px;
	margin-top:80px;
	padding-top: 30px;
}

	.items ul li {
		margin-right: 20px;
		padding: 20px;
		/*border-bottom-style:solid;*/
		
		font-size: 25px;
		text-align: center;
		text-transform: capitalize;
	}

		.items ul a {
			text-decoration: none;
			font-family: inherit;
			color: white;
		}
		/* هنا بقى هنعمل الاكشن بتاع اللينكات*/
	.items ul li:hover { /*لما نيجى ناحية ال عنصر*/
		background: rgba(0, 230, 230,0.8);
		/*border-radius:20px;*/
		color: lightblue;
	}

/*2222222*/
.allpage .login {
	width: 500px;
	margin-left: 400px;
}

.login section {
	padding-top: 100px;
	height: 500px;
}

form {
	margin-top: 3px;
	border-style: solid;
	border-width: 10px;
	border-color: white;
	background-color: white;
	/*border-radius:20px;*/
	width: 550px;
	height: 550px;
	/*margin-right:-50px;*/
}

.inside {
	height: 500px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 10px 20px 3px rgba(0, 0, 0, 0.19);
}

	.inside h2, h3, p {
		text-align: center;
		font-family: inherit bold;
	}

h2 {
	padding-top: 20px;
}



.user i{position:absolute;}
.user input {
	border-radius: 20px;
	height: 40px;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	padding-left: 30px;
	
}
.user {
	margin-left: 60px;
	width: 350px;
	border-radius: 20px;
	height: 40px;
	text-align: center;
}
.icon {
	padding: 15px;
	margin-left: -175px;

}


.inside p {
     font-size:larger;
}
.inside p a {
	text-decoration: none;
	color: rgb(0, 230, 230);
}

	.inside p a:hover {
		text-decoration: underline;
		color: rgb(0, 204, 204);
	}

.inside input[type="submit"] {
	margin-top: 100px;
	margin-left: 65px;
	width: 350px;
	border-radius: 20px;
	height: 45px;
	display: block;
	background-color: rgb(0, 230, 230);
	color: white;
	font-size: 16px;
	font-family: bold;
	font-weight: 600;
}

	.inside input[type="submit"]:hover {
		background-color: rgb(0, 204, 204);
	}
	input[type="text"]:focus {
		box-shadow: 0 4px 8px 3px rgba(51, 153, 255, 0.5), 0 10px 20px 3px rgba(51, 153, 255, 0.10);
	}